<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
        <header class="row">
            <h1 class="col-md-8"><a href="/"><img src="{% static 'core/img/logo.png' %}" alt="SANBI's Environmental Impact Assessment Database"></a></h1>
            <div class="col-md-4">&nbsp;</div>
        </header>

        {% block breadcrumb %}{% endblock %}
        <h1 class="page-header">{% block heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
        <footer>
            <p>In partnership with the South African Department of Environmental Affairs</p>
            <a href="/"><img src="{% static 'core/img/logo-dea.png' %}" alt="In partnership with the South African Department of Environmental affairs"></a>
        </footer>
    </div>
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
  </body>
</html>