{% extends "core/_base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  {% block sub-breadcrumb %}{% endblock %}
</ol>
{% endblock breadcrumb %}

{% block header-text %}{{ project }} <small>{{ project.developer }} - EIA: {{ project.eia_number }}</small>{% endblock %}

{% block content %}
  <ul class="nav nav-tabs">
    {% with request.resolver_match.url_name as url_name %}
    <li role="presentation" class="{% if url_name == 'project_detail' %}active{% endif %}">
      <a href="{% url 'project_detail' project.id %}">Details</a></li>
    <li role="presentation" class="{% if url_name == 'population_data' %}active{% endif %}">
      <a href="{% url 'population_data' project.id %}">Populations</a></li>
    <li role="presentation" class="{% if url_name == 'focal_site_data' %}active{% endif %}">
      <a href="{% url 'focal_site_data' project.id %}">Focal sites</a></li>
    <li role="presentation" class="{% if url_name == 'fatality_data' %}active{% endif %}">
      <a href="{% url 'fatality_data' project.id %}">Fatality counts (raw)</a></li>
    <li role="presentation" class="{% if url_name == 'fatality_rates' %}active{% endif %}">
      <a href="{% url 'fatality_rates' project.id %}">Fatality rates (estimated)</a></li>
    {% endwith %}
  </ul>

  <h3>{% block sub-content-heading %}{% endblock %}</h3>

  {% block sub-content %}{% endblock %}
{% endblock content %}

{% block js %}
  <script src='{% static "jquery.form.min.js" %}'></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var options = {
        dataType: 'json',
        success: function(data) {
          // Change the header
          $('#addDocumentForm .modal-body-form').hide();
          $('#addDocumentForm .message-success').show();

          // If this the first time they're adding docs, hide the no doc message behind the modal
          $('#noDocumentationMessage').hide();

          // Append the new doc
          $('#documentList').append(data['document']);

          // Hide the upload button
          $('#addDocumentForm .modal-footer .btn-primary').hide();
        },
        error: function(jqXHR, textStatus, errorThrown){
          $('#addDocumentForm .modal-body-form').hide();
          $('#addDocumentForm .message-failure').show();
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        }
      }
      $('#addDocumentForm').ajaxForm(options);

      // Reset the document modal
      $("#documentModal").on("hidden.bs.modal", function(){
        // Reset the modal
        $('#addDocumentForm .modal-body-form').show();
        $('#addDocumentForm .message-success').hide();
        $('#addDocumentForm .message-failure').hide();
        $('#addDocumentForm .modal-footer .btn-primary').show();

        // Reset the form fields
        $('#addDocumentForm')[0].reset();
      });
    });
  </script>
  {% block data-list-js %}{% endblock %}
{% endblock %}