{% extends "core/_base_project_detail.html" %}
{% load static %}
{% load bootstrap3 %}

{% block sub-breadcrumb %}
{% with request.resolver_match.url_name as url_name %}
  <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
  <li class="active">
    {% if url_name == 'population_data' %}
      Population data
    {% elif url_name == 'focal_site_data' %}
      Focal site data
    {% elif url_name == 'fatality_data' %}
      Fatality data
    {% endif %}
  </li>
{% endwith %}
{% endblock %}

{% block sub-content %}
  {% block map %}{% endblock %}
  {% if data_set %}
    <form id="selectDataset" method="post">{% csrf_token %}
      {% bootstrap_form form %}
    </form>

    {% block table %}{% endblock %}

    <!-- Flag for removal -->
    <div class="alert alert-warning" role="alert">
      <p>
        Does this dataset look incorrect?
        <a id="flagDataset" href="#" type="button"
           class="btn btn-sm btn-danger"  data-toggle="modal" data-target="#flagModal">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Flag it for removal by an administrator
        </a>
      </p>
    </div>

    <!-- Flag for removal modal -->
    <div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="flagModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="flagModalLabel">Flag dataset for removal</h4>
          </div>
          <form id="flagForRemoval" method="post" action="{% url 'flag_for_removal' project.pk metadata_pk %}">{% csrf_token %}
            <div class="modal-body">
              <p>Why should this dataset be removed?</p>
              {% bootstrap_form flag_for_removal_form %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-danger" id="flagForRemovalButton" value="Flag for removal">
            </div>
          </form>
        </div>
      </div>
    </div>

    {% include 'core/_include_documents.html' %}
  {% else %}
  {% block no-date-message %}No data uploaded yet.{% endblock %}
  {% endif %}
{% endblock sub-content %}

{% block data-list-js %}
  <script src='{% static "core/js/removal_flag_form.js" %}'></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#id_datasets').change(function() {
        $('form#selectDataset').submit();
      });
    });
  </script>
  {% block sub-js %}{% endblock %}
{% endblock %}