{% extends "core/_base.html" %}
{% load leaflet_tags %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
{% leaflet_js plugins="forms,draw" %}
{% leaflet_css plugins="forms,draw" %}
{% endblock css %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
  <li><a href="{% url 'focal_site_data' project.id %}">Focal site data</a></li>
  <li class="active">Add focal site</li>
</ol>
{% endblock breadcrumb %}

{% block header-text %}Create focal site for {{ project }}{% endblock header-text %}

{% block content %}
<form role="form" class="form-horizontal" id="focalSiteForm" action="" method="post">{% csrf_token %}
  {% bootstrap_form_errors form %}
  {% bootstrap_form form layout='horizontal' %}
  {% buttons submit='Create' layout='horizontal' %}{% endbuttons %}
</form>
{% endblock content %}

{% block js %}
<script src='{% static "leaflet-filelayer/leaflet.filelayer.js" %}'></script>
<script src='{% static "leaflet-filelayer/togeojson/togeojson.js" %}'></script>
<script src='{% static "core/js/eia-filelayer.js" %}'></script>
<script type="text/javascript">
$(document).ready(function() {
    // Store the variable to hold the map in scope
    var map;

    // Populate the map var during the map:init event (see Using Javascript callback function)
    // here https://github.com/makinacorpus/django-leaflet
    $(window).on('map:init', function(e) {
      map = e.originalEvent.detail.map;

      // Add the project polygon
      var project_polygon = new L.geoJson({% autoescape off %}{{ project_location_geojson }}{% endautoescape %});
      project_polygon.addTo(map);

      // Fit the map bounds to the project polygon
      map.fitBounds(project_polygon.getBounds());

      // The validation built into django leaflet will erase other polygons (this map only allows 1 polygon to be drawn at a time)
      map.on('draw:drawstop', function(e) {
        project_polygon.addTo(map);
      });
    });


    // When the form is clicked, remove the project polygon from the turbine map to prevent validation errors
    $('#focalSiteForm').submit(function() {
      turbine_map.removeLayer(project_polygon);
      return true;
    });
});
</script>
{% endblock %}
