{% extends "core/_base_dataset_create_form.html" %}
{% load static %}

{% block parent-link %}<a href="{% url 'focal_site_data' project.id %}">Focal site data</a>{% endblock %}
{% block breadcrumb-text %}{% block header-detail-text %}focal site{% endblock %}{% endblock %}

{% block upload-form %}
  <form role="form" class="data-upload-form" action="" method="post">{% csrf_token %}
    <div class="step" id="step1">

      <!-- Instructions -->
      <div class="step-instructions">
        <ul class="list-unstyled">
          <li>
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            This should be your <strong>estimates of the numbers (absolute abundance/density or relative abundance)</strong>
            of each species in this focal site.
          </li>
          <li>
            <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
            The survey techniques used <strong>must correspond to the latest edition of the
            <a href="#">Birds and Wind-Energy Best-Practice Guidelines</a></strong>, (e.g. walked and driven transects,
            fixed-point counts, checklist surveys)
          </li>
          <li>
            <span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>
            <strong>More rows</strong> will get added automatically to the bottom as you paste or enter data.
          </li>
          <li>
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            You may <strong>split up your data</strong> and upload it in as many sections as you wish.
          </li>
        </ul>
      </div>

      <!-- Table example -->
      <button id="showExamples" type="button" class="btn btn-warning">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See an example
      </button>
      <div class="hot-example-wrapper"><table class="table hot-example">
        <tbody><tr>
          <td>Start typing common name or scientific name, e.g. <strong>"Eudyptes moseleyi"</strong> or <strong>"Northern Rockhopper"</strong>
            <br><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
          <td>Number of birds seen, add a new row per life stage/activity. E.g. <strong>"10"</strong>
            <br><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
          <td>Click the arrow in the right of the cell to bring up a calendar. E.g. <strong>"2011/11/01"</strong> or <strong>"01/11/2011"</strong>
            <br><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
          <td>E.g. <strong>"23"</strong> for 11pm or <strong>"9"</strong> for 9am
            <br><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
          <td>Click the arrow in the right of the cell to bring up options. E.g. <strong>"Adult"</strong>
            <br><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
          <td>Click the arrow in the right of the cell to bring up options. E.g. <strong>"courtship display"</strong>
            <br><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
        </tr></tbody>
      </table></div>

      <!-- HOT table itself -->
      <div id="hot-wrapper"><div id="hot"></div></div>

      <!-- Submit button -->
      <p><strong>Finished? Once you have pressed "Upload" you will be given the opportunity to add your raw data sheets or any documentation you might feel is useful.</strong></p>
      <button id="submitData" type="button" class="btn btn-primary">Upload</button>
      <a href="{% url 'focal_site_data' project.id focal_site_pk %}" type="button" class="btn btn-default">Cancel</a>
    </div>
  </form>
{% endblock %}

<!-- This success URL gets changed to the correct metadata via js when the AJAX comes back, see init_hot.js -->
{% block success-url %}{% url 'focal_site_data' project.id focal_site_pk %}{% endblock %}

{% block sub-js %}
<script type="text/javascript">
// Widths of the columns - this is also used for hot-examples.js included later
widths = [240, 80, 100, 90, 80, 180];
$(document).ready(function() {
    // Handsontable options
    hotOptions['colWidths'] = widths;
    hotOptions['columns'] = [
      {
        type: 'autocomplete',
        source: {{ taxa|safe }},
        strict: true
      },
      {
        type: 'numeric'
      },
      {
        type: 'date',
        dateFormat: 'DD/MM/YYYY',
        correctFormat: true,
        defaultDate: new Date(),
      },
      {
        type: 'numeric',
        format: '00',
        default: '00',
        validator: /^([01]?[0-9]|2[0-3])$/
      },
      {
        type: 'autocomplete',
        source: {{ life_stage_choices|safe }},
        strict: true
      },
      {
        type: 'autocomplete',
        source: {{ activity_choices|safe }},
        strict: true
      }
    ];

    // No other form here, initialise handsontable straight away
    init_hot();

    // Fix example widths - see hot-examples.js
    fixExampleWidths(widths);
  })
</script>
{% endblock %}