{% extends "core/_base_data_list.html" %}
{% load leaflet_tags %}
{% load static %}

{% block css %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock css %}

{% block sub-content-heading %}
  Focal site locations, and count data associated with focal sites
  {% if perms.core.contributor %}
  <a href="{% url 'focal_site_create' project.id %}" type="button" class="btn btn-warning align-right">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add focal site
  </a>
  {% endif %}
{% endblock %}

{% block map %}
{% if focal_site_locations %}
  {% leaflet_map "main" callback="main_map_init" %}
{% else %}
  <p>No focal sites yet.</p>
{% endif %}
{% endblock %}

{% block table %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Species</th>
        <th>Count</th>
        <th>Life stage</th>
        <th>Activity</th>
      </tr>
    </thead>
    <tbody>
    {% for data in data_set %}
      <tr>
        <td>{{ data.taxon }}</td>
        <td>{{ data.abundance }}</td>
        <td>{{ data.get_life_stage_display }}</td>
        <td>{{ data.get_activity_display }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block no-date-message %}<h4>Select a focal site on the map to view datasets.</h4>{% endblock %}

{% block sub-js %}
<script type="text/javascript">
function main_map_init(map, options) { // See http://blog.mathieu-leplatre.info/geodjango-maps-with-leaflet.html
    // Add the project polygon
    var project_polygon = new L.geoJson({% autoescape off %}{{ project_location }}{% endautoescape %});
    project_polygon.addTo(map);

    // Fit the map bounds to the project polygon
    map.fitBounds(project_polygon.getBounds());

    {% if turbine_locations %}
    // Add the turbine points (if there are any)
    var turbine_points = new L.geoJson({% autoescape off %}{{ turbine_locations }}{% endautoescape %}, {
      //style: myStyle,
      pointToLayer: function(feature, latlng) {
          return L.marker(latlng, {icon: turbineIcon});
      },
    })
    turbine_points.addTo(map);
    {% endif %}

    {% if focal_site_locations %}
    // Add the focal sites
    function onEachFeature(feature, layer) {
      polygon = L.polygon(feature.geometry.coordinates);
      polygon_center = polygon.getBounds().getCenter();
      if (feature.properties && feature.properties.name) {
        html = '<strong>' + feature.properties.name + '</strong><br>';
        html += '<br><strong>Centroid:</strong> ' + feature.properties.centroid[1].toFixed(4) + ', ' + feature.properties.centroid[0].toFixed(4);
        html += '<br><strong>Habitat:</strong> ' + feature.properties.habitat;
        html += '<br><strong>Activity:</strong> ' + feature.properties.activity;
        html += '<br><br>';

        if(feature.properties.has_data) {
          html += '<a href="' + feature.properties.data_view_url + '" type="button" class="btn btn-default">';
          html += '<span class="glyphicon glyphicon-th" aria-hidden="true"></span> View datasets</a>';
        }
        html += ' <a href="' + feature.properties.data_upload_url + '" type="button" class="btn btn-default">';
        html += '<span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload a dataset</a>';
        layer.bindPopup(html);

        //if(feature.properties.pk == {{ focal_site_pk }}) {
          //layer.openPopup();
          //console.log(layer.openPopup());
        //}
      }
    }
    var focal_site_style = {
      'color': '#FF0000',
      'weight': 2
    }
    var focal_site_polygons = new L.geoJson({% autoescape off %}{{ focal_site_locations }}{% endautoescape %},
                                            { style: focal_site_style, onEachFeature: onEachFeature });
    focalSiteLayer = focal_site_polygons.addTo(map);

    // Make sure that the marker is automatically open if it has been selected
    {% if focal_site_pk %}
    focalSiteLayer.eachLayer(function(marker) {
        if (marker.feature.properties.pk == {{ focal_site_pk }}) {
            marker.openPopup();
        }
    });
    {% endif %}
    {% endif %}

    // Data points?
}
</script>
{% endblock sub-js %}