{% extends "core/_base_data_list.html" %}
{% load leaflet_tags %}
{% load static %}

{% block css %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock css %}

{% block sub-content-heading %}
  Species population count, census and activity data
  {% if perms.core.contributor %}<a href="{% url 'population_data_create' project.id %}" type="button" class="btn btn-info pull-right">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add population data
  </a>{% endif %}
{% endblock %}

{% block map %}
<p><em>This section records relative population abundance, i.e. estimated per km<sup>2</sup>,
  and absolute numbers, i.e. the actual number of birds counted for the surveyed area. Censuses
  for a particular area of interest (a "focal site", such as a wetland or cave) are recorded in the
  <a href="{% url 'focal_site_data' project.id %}">Focal sites</a> section.</em></p>
{% endblock %}

{% block table %}
  <hr>
  <!-- Population map -->
  <h4>Survey area for dataset{% if not survey_area %} (project area){% endif %}
    <small>Data was collected over <strong>{{ population_metadata.get_hours_display }}</strong>, on:
      <strong>{{ population_metadata.get_survey_type_display }}</strong></small>
  </h4>
  {% leaflet_map "survey_area" callback="main_map_init" %}

  <!-- Population data table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Species</th>
        <th>Observed</th>
        <th>Abundance count</th>
        <th>Abundance type</th>
        <th>Flight height</th>
      </tr>
    </thead>
    <tbody>
    {% for data in data_set %}
      <tr>
        <td>{{ data.taxon }}</td>
        <td>{{ data.observed }}</td>
        <td>{{ data.abundance }}</td>
        <td>{{ data.get_abundance_type_display }}</td>
        <td>{{ data.get_flight_height_display }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block sub-js %}
<script type="text/javascript">
function main_map_init(map, options) {
    var s = new L.geoJson({% autoescape off %}{{ survey_area }}{% endautoescape %});
    s.addTo(map);

    {% if project_area %}
    var project_style = { fillOpacity: 0.3,
                          fillColor: '#666666',
                          weight: 1,
                          color: '#666666' };
    var p = new L.geoJson({% autoescape off %}{{ project_area }}{% endautoescape %},
                          {style: project_style});
    p.addTo(map);
    {% endif %}

    {% if survey_area %}
    var survey_style = { fillOpacity: 0.7,
                          fillColor: '#ffc6c6',
                          weight: 1,
                          color: '#ffc6c6' };
    var p = new L.geoJson({% autoescape off %}{{ survey_area }}{% endautoescape %},
                          {style: survey_style});
    p.addTo(map);
    {% endif %}

    // Fit the map bounds to the
    map.fitBounds(p.getBounds());

    {% if turbine_locations %}
    // Add the turbine points (if there are any)
    var turbine_points = new L.geoJson({% autoescape off %}{{ turbine_locations }}{% endautoescape %}, {
      //style: myStyle,
      pointToLayer: function(feature, latlng) {
          return L.marker(latlng, {icon: turbineIcon});
      },
    })
    turbine_points.addTo(map);
    {% endif %}
}
</script>
{% endblock %}