{% extends "core/_base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
<link href='{% static "datetimepicker/jquery.datetimepicker.css" %}' rel="stylesheet">
{% endblock css %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li><a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a></li>
  <li class="active">Upload population data</li>
</ol>
{% endblock breadcrumb %}

{% block header-text %}
  Upload population data <small> for each species observed; this must be entered into the system in a very specific format.</small>
{% endblock header-text %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title" id="myModalLabel">Thank you. Your data is being uploaded.</h4>
      </div>
      <div class="modal-body" id="modalMessage">
          <p>We are checking your spreadsheet for any errors and adding it to the database. If there are any errors no data will be uploaded, and you will be presented with a new spreadsheet with the errors highlighted for you to correct.</p>
          <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
          </div>
      </div>
      <div class="modal-body" id="modalMessageFailure">
          <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <strong><span class="sr-only">Error:</span> Oops! There were errors in your spreadsheet.</strong><hr>
              <a id="spreadsheet-errors" href="" role="button" class="btn btn-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  Download the spreadsheet with highlighted errors</a> and <a href="{% url 'population_data_create' project_pk=project.id %}">try again</a>.
              <p><strong>REMEMBER</strong> to click on the yellow button to enable editing!</p>
          </div>
      </div>
      <div class="modal-body" id="modalMessageServerFailure">
          <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <strong><span class="sr-only">Error:</span> Oops! There was a technical error.</strong><hr>
              <p>Please <a href="{% url 'population_data_create' project_pk=project.id %}">try again</a>.</p>
              <p>If this error keeps occurring, please contact one of the technical staff with the following message: <div id="serverErrorMessage"></div></p>
          </div>
      </div>
      <div class="modal-body" id="modalMessageSuccess">
          <div class="alert alert-success" role="alert">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <strong>Thank you.</strong><hr>
              <p>Your data has been successfully uploaded.</p>
              <p><a href="{% url 'project_detail' pk=project.id %}" role="button" class="btn btn-success"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Return to the project page</a></p>
          </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel upload &amp; close this window</button>-->
      </div>
    </div>
  </div>
</div>

<!-- Form -->
<div class="steps row">
    <div class="step-1 col-xs-4 fadein"><a id="step-wrapper" href='{% static "population_data_for_upload.xlsx" %}'><h4>Step 1 <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></h4><hr><p><span role="button" class="btn btn-primary">Download the template spreadsheet</span></p></a></div>
    <div class="step-2 col-xs-4 fadein"><div><h4>Step 2 <span class="glyphicon glyphicon-bell" aria-hidden="true"></span></h4><hr><strong class="important">IMPORTANT:</strong> If a yellow, "protected" message comes up, click 'enable editing' on the spreadsheet</div></div>
    <div class="step-3 col-xs-4 fadein"><div><h4>Step 3 <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h4><hr>Fill in your data in all of the relevant columns</div></div>
</div>
<hr>
<form enctype="multipart/form-data" action="" method="post" id="upload-form" class="fadein" role="form">{% csrf_token %}
    <h3>Ready? Upload the filled-in spreadsheet</h3>
    <div class="form-container">
    {% bootstrap_form_errors form %}
    {% for field in form %}
        {% bootstrap_field field %}
        {% if field.name == 'upload_data' %}
        <div id="formRemainder"><hr><div class="alert alert-success">Nearly done! Please provide us with the date <strong>(and time!)</strong> SPAN of your data collection, and whether it was for a control site or not.</div>
        {% endif %}
    {% endfor %}
    {% buttons %}
        <button type="submit" class="btn btn-primary"><!--data-toggle="modal" data-target="#uploadModal"-->
            {% bootstrap_icon "floppy-disk" %} Add data to project
        </button>
    {% endbuttons %}
    </div></div>
</form>
{% endblock content %}

{% block js %}
<script src='{% static "datetimepicker/jquery.datetimepicker.js" %}'></script>
<script src='{% static "core/js/jquery.form.min.js" %}'></script>
<script src='{% static "core/js/validator.min.js" %}'></script>
<script src='{% static "core/js/data_create.js" %}'></script>
{% endblock %}
