{% extends "core/base_project_detail.html" %}
{% load leaflet_tags %}
{% load static %}

{% block css %}
{% leaflet_js %}
{% leaflet_css %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'leaflet-awesome-markers/dist/leaflet.awesome-markers.css' %}">
<script src="{% static 'leaflet-awesome-markers/dist/leaflet.awesome-markers.min.js' %}"></script>
{% endblock css %}

{% block subheader %}details{% endblock subheader %}

{% block subcontent-heading %}
  Fatality data
  {% if perms.core.contributor %}<a href="{% url 'fatality_data_create' project.id %}" type="button" class="btn btn-info pull-right">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add fatality data
  </a>{% endif %}
{% endblock %}

{% block table %}
  <!-- Population data table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Species</th>
        <th>Corpse location</th>
        <th>Cause of death</th>
      </tr>
    </thead>
    <tbody>
    {% for data in data_set %}
      <tr>
        <td>{{ data.taxa }}</td>
        <td>{{ data.coordinates.coords }}</td>
        <td>{{ data.get_cause_of_death_display}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block subcontent %}
{% if fatality_locations %}
  {% leaflet_map "main" callback="main_map_init" %}
{% else %}
  <p>No fatalities yet.</p>
{% endif %}
{% endblock subcontent %}

{% block no-data-message %}No data uploaded yet.{% endblock %}

{% block sub-js %}
{% if turbine_locations %}<script src='{% static "core/js/leaflet_turbine_markers.js" %}'></script>{% endif %}
<script type="text/javascript">
function main_map_init(map, options) { // See http://blog.mathieu-leplatre.info/geodjango-maps-with-leaflet.html
    // Add the project polygon
    var project_polygon = new L.geoJson({% autoescape off %}{{ project_location }}{% endautoescape %});
    project_polygon.addTo(map);

    {% if turbine_locations %}
    // Add the turbine points (if there are any)
    var turbine_points = new L.geoJson({% autoescape off %}{{ turbine_locations }}{% endautoescape %}, {
      pointToLayer: function(feature, latlng) {
          return L.marker(latlng, {icon: turbineIcon});
      },
    })
    turbine_points.addTo(map);
    {% endif %}

    {% if fatality_locations %}
    function onEachFeature(feature, layer) {
      if (feature.properties) {
        html = '<strong>' + feature.properties.taxa + '</strong><br>';
        html += '<br><strong>Cause of death:</strong> ' + feature.properties.cause_of_death;
        layer.bindPopup(html);
      }
    }

    var fatalityLayer = new L.geoJson({% autoescape off %}{{ fatality_locations }}{% endautoescape %},
                                            { onEachFeature: onEachFeature });
    fatalityLayer = fatalityLayer.addTo(map);

    // Fit the map bounds to the project polygon
    map.fitBounds(fatalityLayer.getBounds());
    {% endif %}
}
</script>
{% endblock sub-js %}
