{% extends "core/base_project_detail.html" %}

{% block subheader %}details{% endblock subheader %}

{% block subcontent-heading %}
  Species population count, census and estimate data
  {% if perms.core.contributor %}<a href="{% url 'population_data_create' project.id %}" type="button" class="btn btn-info pull-right">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add population data
  </a>{% endif %}
{% endblock %}

{% block table %}
  <!-- Population data table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Species</th>
        <th>Count</th>
        <th>Collision risk</th>
        <th>Density</th>
        <th>Passage rate</th>
      </tr>
    </thead>
    <tbody>
    {% for data in data_set %}
      <tr>
        <td>{{ data.taxa }}</td>
        <td>{{ data.count }}</td>
        <td>{{ data.get_collision_risk_display }}</td>
        <td>{{ data.density_km }}</td>
        <td>{{ data.passage_rate }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block no-data-message %}No data uploaded yet.{% endblock %}
