{% extends "core/_base_project_cru_form.html" %}

{% block sub-breadcrumb %}
<li><a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></li>
<li class="active">Edit project</li>
{% endblock %}

{% block header-text %}Edit project details{% endblock header-text %}

{% block sub-nav %}
<div class="row"><div class="col-md-10 col-md-offset-2">
<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'project_update_operational_info' project.pk %}">Operational info</a></li>
  <li role="presentation" class="active"><a href="{% url 'project_update' project.pk %}">Project details</a></li>
  <li role="presentation"><a href="{% url 'project_detail' project.pk %}">Project data
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
</ul></div></div>
{% endblock %}

{% block form-buttons %}
<a href="{% url 'project_detail' project.pk %}" type="button" class="btn btn-danger pull-right">Cancel</a>
{% endblock %}
