{% extends "core/_base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block css %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock css %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li class="active">{{ project.name }}</li>
</ol>
{% endblock breadcrumb %}

{% block header-text %}{{ project }} <small>{{ project.developer }}</small>{% endblock %}

{% block content %}
<h2>Details
  <a href="{% url 'project_update' project.id %}" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit details
  </a>
</h2>
<p>A {{ project.get_energy_type_display }} energy project,  <strong>developed by {{ project.developer }}</strong>.</p>
<div class="row">
  <div class="col-md-6 table-wrapper">
    <table class="table"><tbody>
      <tr>
        <td>EIA reference</td><td>{{ project.eia_number }}</td>
      </tr>
      <tr>
        <td>Equipment details</td><td>"{{ project.equipment_make }}" make, standing {{ project.equipment_height }} m
        high, with a capacity of {{ project.equipment_capacity }} MW</td>
      </tr>
    </tbody></table>
  </div>
  <div class="col-md-6">
    <table class="table"><tbody>
      <tr>
        <td>Constructed on</td><td>{{ project.construction_date }}</td>
      </tr>
      <tr>
        <td>Operational from</td><td>{{ project.operational_date }}</td>
      </tr>
    </tbody></table>
  </div>
</div>
<h2>Map</h2>
{% leaflet_map "main" callback="main_map_init" %}
<h2>Population data
  <a href="{% url 'population_data_create' project.id %}" type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add population data
  </a>
</h2>
<h2>Focal site data
  <a href="{% url 'population_data_create' project.id %}" type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add focal site data
  </a>
</h2>
<h2>Fatality data
  <a href="{% url 'population_data_create' project.id %}" type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add fatality data
  </a>
</h2>
{% endblock content %}

{% block js %}
{% if turbine_locations %}<script src='{% static "core/js/leaflet_turbine_markers.js" %}'></script>{% endif %}
<script type="text/javascript">
function main_map_init(map, options) { // See http://blog.mathieu-leplatre.info/geodjango-maps-with-leaflet.html
    // Add the project polygon
    var project_polygon = new L.geoJson({% autoescape off %}{{ project_location }}{% endautoescape %});
    project_polygon.addTo(map);

    // Fit the map bounds to the project polygon
    map.fitBounds(project_polygon.getBounds());

    {% if turbine_locations %}
    // Add the turbine points (if there are any)
    var turbine_points = new L.geoJson({% autoescape off %}{{ turbine_locations }}{% endautoescape %}, {
      style: myStyle,
      pointToLayer: function(feature, latlng) {
          return L.marker(latlng, {icon: turbineIcon});
      },
    })
    turbine_points.addTo(map);
    {% endif %}

    // Add the solar... polygons?

    // Data points?
}
</script>
{% endblock js %}