{% extends "core/_base.html" %}
{% load leaflet_tags %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
{% leaflet_js plugins="forms,draw" %}
{% leaflet_css plugins="forms,draw" %}
<link href='{% static "datetimepicker/jquery.datetimepicker.css" %}' rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'leaflet-awesome-markers/dist/leaflet.awesome-markers.css' %}">
<script src="{% static 'leaflet-awesome-markers/dist/leaflet.awesome-markers.min.js' %}"></script>

<link href='{% static "nouislider/nouislider.min.css" %}' rel="stylesheet">
{% endblock css %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li><a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></li>
  <li class="active">Edit project</li>
</ol>
{% endblock breadcrumb %}

{% block header-text %}Edit project operational info{% endblock header-text %}

{% block content %}
<div class="row"><div class="col-md-10 col-md-offset-2">
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="{% url 'project_update_operational_info' project.pk %}">Operational info</a></li>
  <li role="presentation"><a href="{% url 'project_update' project.pk %}">Project details</a></li>
  <li role="presentation"><a href="{% url 'project_detail' project.pk %}">Project data
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
</ul></div></div>

<form role="form" class="form-horizontal" action="" method="post" id="projectUpdate">{% csrf_token %}
  <div id="operationalForm">
  {% for field in form %}
    {% if field.name == "name" %}
    </div>
    <div id="detailsForm">
    {% endif %}
    {% if field.name == "capacity" %}
      {% bootstrap_field field layout='horizontal' addon_after='MW' %}
    {% elif field.name == "equipment_height" %}
      {% bootstrap_field field layout='horizontal' addon_after='m' %}
    {% else %}
    {% bootstrap_field field layout='horizontal' %}
    {% endif %}
  {% endfor %}
    </div>
  {% buttons submit='Save' layout='horizontal' %}{% endbuttons %}
</form>

<!-- Modal -->
<div class="modal fade" id="equipmentModal" tabindex="-1" role="dialog" aria-labelledby="equipmentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="equipmentModalLabel">Add an equipment make</h4>
      </div>
      <form role="form" class="form-horizontal" action="{% url 'equipment_make_create' %}" method="post" id="equipmentForm">{% csrf_token %}
        <div class="modal-body">
          {% bootstrap_form equipment_form layout='horizontal' %}
        </div>
        <div class="modal-footer">
          {% buttons submit='Save' layout='horizontal' %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          {% endbuttons %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<!-- Map help -->
<script src='{% static "node_modules/intro.js/minified/intro.min.js" %}'></script>
<script src='{% static "core/js/map-help.js" %}'></script>

<!-- Form -->
<script src='{% static "jquery.form.min.js" %}'></script>
<script src='{% static "validator.min.js" %}'></script>
<script src='{% static "datetimepicker/jquery.datetimepicker.js" %}'></script>

<!-- Filelayer -->
<script src='{% static "leaflet-filelayer/leaflet.filelayer.js" %}'></script>
<script src='{% static "leaflet-filelayer/togeojson/togeojson.js" %}'></script>
<script src='{% static "core/js/eia-filelayer-points.js" %}'></script>
<script src='{% static "temp-leaflet.forms.js" %}'></script> <!-- Temporary until update -->

<!-- Turbine markers -->
<script src='{% static "core/js/leaflet_turbine_markers.js" %}'></script>


<script src='{% static "nouislider/nouislider.min.js" %}'></script>

<script language="javascript">
  $(document).ready(function() {
    // Store references to the maps for later use
    var turbine_map_project_polygon;
    var turbine_map;

    // The map init event is used to grab references to the maps in the form
    $(window).on('map:init', function(e) {
      turbine_map = e.originalEvent.detail.map;

      // Once the turbine map has loaded (it loads first), we need to add a project polygon layer to it and zoom in
      var project_geojson_layer = L.geoJson({{ project_geojson|safe }});
      turbine_map_project_polygon = project_geojson_layer.addTo(turbine_map);
      turbine_map.fitBounds(project_geojson_layer.getBounds().pad(0.5));

      // Add reset functionality https://github.com/makinacorpus/django-leaflet/issues/39
      (new L.Control.ResetView(project_geojson_layer.getBounds().pad(0.5))).addTo(map);
    });

    // When the form is clicked, remove the project polygon from the turbine map to prevent validation errors
    // Jan 2016 - seems we don't actually need this as is fing difficult to get layers editable
    /*$('#projectUpdate').submit(function() {
      turbine_map.removeLayer(turbine_map_project_polygon);
      return true;
    });*/

    // Datepicker stuff
    $('#id_operational_date').datetimepicker({ timepicker:false, format:'Y-m-d' });
    $('#id_construction_date').datetimepicker({ timepicker:false, format:'Y-m-d' });

    // Equipment make form stuff
    add_equipment_make = $('#id_equipment_make').parent();
    var add_equipment_make_text = '<div class="col-md-4" style="padding-top: 7px">Equipment make not in the list? <a data-toggle="modal" data-target="#equipmentModal" class="" href="#" role="button">Add an equipment make</a></div>';
    add_equipment_make.parent().append(add_equipment_make_text);

    // Ajax the form
    var options = {
        dataType: 'json',
        success: function(data) {
            // Change the header
            $('h4#equipmentModalLabel').html('Data successfully uploaded');
            $('#id_equipment_make').append($('<option>', {
                value: data.pk,
                text: data.name,
                selected: "selected"
            }));
            $('#equipmentModal').modal('hide');
        }
    }
    $('#equipmentForm').ajaxForm(options);
    // TODO add form validation

    // Integer range for equipment height generates two text inputs which must be hidden as we are using a slider
    $('#id_equipment_height_0').hide();
    $('#id_equipment_height_1').hide();

    // Give the slider a bit of padding on top
    $('#id_equipment_height_0').parent().css('margin-top', '15px');

    // Add the slider element into the code
    $('#id_equipment_height_0').parent().prepend('<div id="heightSlider"></div>');

    // Initiate using javascript
    var heightSlider = document.getElementById('heightSlider');
    noUiSlider.create(heightSlider, {
      start: [ $('#id_equipment_height_0').val(), $('#id_equipment_height_1').val() ],
      connect: true,
	    step: 5,
      range: {
        'min': [  0 ],
        'max': [ 50 ]
      }
    });

    // Add tooltips to the slider handles
    $('.noUi-handle-lower').attr('data-trigger','manual');
    $('.noUi-handle-lower').tooltip('show');
    $('.noUi-handle-upper').attr('data-trigger','manual');
    $('.noUi-handle-upper').tooltip('show');

    // Update the tooltips and the hidden text inputs when the slider handles move
    heightSlider.noUiSlider.on('update', function( values, handle ) {
      var value = Math.round(values[handle]);
      if(handle) {
        $('#id_equipment_height_1').val(value);
        $('.noUi-handle-upper').attr('data-original-title', value + 'm').tooltip('show');
      } else {
        $('#id_equipment_height_0').val(value);
        $('.noUi-handle-lower').attr('data-original-title', value + 'm').tooltip('show');
      }
    });
  })
</script>
{% endblock %}
