{% extends "core/_base.html" %}
{% load leaflet_tags %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
{% leaflet_js plugins="forms,draw" %}
{% leaflet_css plugins="forms,draw" %}
<link href='{% static "datetimepicker/jquery.datetimepicker.css" %}' rel="stylesheet">
{% endblock css %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li class="active">Edit project details</li>
</ol>
{% endblock breadcrumb %}

{% block header-text %}Edit project details{% endblock header-text %}

{% block content %}
<div class="row"><div class="col-md-10 col-md-offset-2">
<ul class="nav nav-pills">
  <li role="presentation" class="active" id="operationalFormNav"><a href="#">Operational info</a></li>
  <li role="presentation" id="detailFormNav"><a href="#">Project details</a></li>
</ul></div></div>
<form role="form" class="form-horizontal form-sign-in" action="" method="post">{% csrf_token %}
  <!--{% bootstrap_form form layout='horizontal' %}-->
  <div id="operationalForm">
  {% for field in form %}
    {% if field.name == "name" %}
    </div>
    <div id="detailsForm">
    {% endif %}
    {% bootstrap_field field layout='horizontal' %}
  {% endfor %}
    </div>
  {% buttons submit='Create' layout='horizontal' %}{% endbuttons %}
</form>

<!-- Modal -->
<div class="modal fade" id="developerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a developer</h4>
      </div>
      <form role="form" class="form-horizontal" action="{% url 'developer_create' %}" method="post" id="developerForm">{% csrf_token %}
        <div class="modal-body">
          {% bootstrap_form developer_form layout='horizontal' %}
        </div>
        <div class="modal-footer">
          {% buttons submit='Save' layout='horizontal' %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          {% endbuttons %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src='{% static "core/js/jquery.form.min.js" %}'></script>
<script src='{% static "core/js/validator.min.js" %}'></script>
<script src='{% static "datetimepicker/jquery.datetimepicker.js" %}'></script>
<script language="javascript">
  /*var map;
  window.addEventListener("load", function (e) {
  })
  window.addEventListener("map:init", function (e) {
      map = e.detail.map;
      document.getElementById('detailsForm').style.display = 'none';
  }, false);

  window.addEventListener("map:init", function (e) {
      map = e.detail.map;
      document.getElementById('detailsForm').style.display = 'none';
  }, false);

  window.addEventListener("map_init_basic", function (e) {
      console.log('wtf');
  }, false);

  function map_init_basic(map, options) {
    alert('hidf');
  }*/

  $(document).ready(function() {
    var map;
    $(window).on('map:init', function(e) {
      map = e.originalEvent.detail.map;
      //console.log(e.originalEvent.detail.map);
      //map = e.detail.map;
      //console.log('fsdah');
    });

    // Form hiding stuff
    $('#detailsForm').hide();

    $('#operationalFormNav').click(function() {
      $('#operationalForm').show();
      $('#detailsForm').hide();
      if(!$('#operationalFormNav').hasClass('active')){
        $('#operationalFormNav').addClass('active');
        $('#detailFormNav').removeClass('active');
      }
    });

    $('#detailFormNav').click(function() {
      $('#operationalForm').hide();
      $('#detailsForm').show();
      if(!$('#detailFormNav').hasClass('active')){
        $('#detailFormNav').addClass('active');
        $('#operationalFormNav').removeClass('active');
      }

      // Necessary to get the map displaying correctly https://github.com/Leaflet/Leaflet/issues/159
      // maybe http://stackoverflow.com/questions/24547468/leaflet-map-on-hide-div
      map.invalidateSize()
      console.log(map._layers.getBounds());/*
      map.eachLayer(function (layer) {
        console.log('layer');
        console.log(layer.toGeoJSON());
        console.log('endlayer');
        mybounds = L.featureGroup();
        mybounds.addLayer(layer);
        //console.log('mybounds');
        //console.log(mybounds);
        //console.log('endmybounds');
        //map.fitBounds(mybounds.getBounds());
        console.log(layer);
      });*/
    });

    // Datepicker stuff
    $('#id_operational_date').datetimepicker({step:30, timepicker:false});
    $('#id_construction_date').datetimepicker({step:30, timepicker:false});

    // Developer form stuff
    add_developer = $('#id_developer').parent();
    var add_developer_text = '<div class="col-md-4" style="padding-top: 7px">Developer not in the list? <a data-toggle="modal" data-target="#developerModal" class="" href="#" role="button">Add a developer</a></div>';
    add_developer.parent().append(add_developer_text);

    // Ajax the form
    var options = {
        dataType: 'json',
        success: function(data) {
            // Change the header
            $('h4#myModalLabel').html('Data successfully uploaded');
            $('#id_developer').append($('<option>', {
                value: data.pk,
                text: data.name,
                selected: "selected"
            }));
            $('#developerModal').modal('hide');
        }
    }
    $('#developerForm').ajaxForm(options);
  })
</script>
{% endblock %}
