{% extends "core/_base_project_detail.html" %}
{% load leaflet_tags %}
{% load static %}

{% block css %}
{% leaflet_js %}
{% leaflet_css %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'leaflet-awesome-markers/dist/leaflet.awesome-markers.css' %}">
<script src="{% static 'leaflet-awesome-markers/dist/leaflet.awesome-markers.min.js' %}"></script>
{% endblock css %}

{% block sub-breadcrumb %}<li class="active">{{ project.name }}</li>{% endblock %}

{% block sub-content %}
<!-- Header -->
<h3>
  A {{ project.get_energy_type_display }} energy project,  <strong>developed by {{ project.developer }}</strong>.
  {% if perms.core.contributor %}<a href="{% url 'project_update' project.id %}" type="button" class="btn btn-info pull-right">
  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit details
  </a>{% endif %}
</h3>

<!-- Map -->
{% leaflet_map "main" callback="main_map_init" %}

<!-- Tables of project details -->
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3">{{ project.get_energy_type_display }} energy equipment details</th>
        </tr>
        <tr>
          <th>Make</th>
          <th>Capacity</th>
          <th>Height</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ project.equipment_make }}</td>
          <td>{{ project.equipment_capacity }}</td>
          <td>{{ project.equipment_height }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Project dates</th>
        </tr>
        <tr>
          <th>Construction began on</th>
          <th>Operating from</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ project.construction_date }}</td>
          <td>{{ project.operational_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include 'core/_include_documents.html' %}
{% endblock sub-content %}

{% block data-list-js %}
{% if turbine_locations %}<script src='{% static "core/js/leaflet_turbine_markers.js" %}'></script>{% endif %}
<script type="text/javascript">
function main_map_init(map, options) { // See http://blog.mathieu-leplatre.info/geodjango-maps-with-leaflet.html
    // Add the project polygon
    var project_polygon = new L.geoJson({% autoescape off %}{{ project_location }}{% endautoescape %});
    project_polygon.addTo(map);

    // Fit the map bounds to the project polygon
    map.fitBounds(project_polygon.getBounds());

    {% if turbine_locations %}
    // Add the turbine points (if there are any)
    var turbine_points = new L.geoJson({% autoescape off %}{{ turbine_locations }}{% endautoescape %}, {
      //style: myStyle,
      pointToLayer: function(feature, latlng) {
          return L.marker(latlng, {icon: turbineIcon});
      },
    })
    turbine_points.addTo(map);
    {% endif %}

    // Add the solar... polygons?

    // Data points?
}
</script>
{% endblock %}