{% extends "core/_base.html" %}
{% load leaflet_tags %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
{% leaflet_js plugins="forms,draw" %}
{% leaflet_css plugins="forms,draw" %}
{% endblock css %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li class="active">Create a project</li>
</ol>
{% endblock breadcrumb %}

{% block header-text %}Create project{% endblock header-text %}

{% block content %}
<form role="form" class="form-horizontal" id="projectForm" action="" method="post">{% csrf_token %}
  {% bootstrap_form_errors form %}
  {% bootstrap_form form layout='horizontal' %}
  {% buttons submit='Create' layout='horizontal' %}{% endbuttons %}
</form>

<!-- Modal -->
<div class="modal fade" id="developerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a developer</h4>
      </div>
      <form role="form" class="form-horizontal" action="{% url 'developer_create' %}" method="post" id="developerForm">{% csrf_token %}
        <div class="modal-body">
          {% bootstrap_form developer_form layout='horizontal' horizontal_label_class='col-md-3' horizontal_field_class='col-md-8' %}
        </div>
        <div class="modal-footer">
          {% buttons submit='Save' layout='horizontal' %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          {% endbuttons %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src='{% static "core/js/jquery.form.min.js" %}'></script>
<script src='{% static "core/js/validator.min.js" %}'></script>
<script language="javascript">
  $(document).ready(function() {
    // A bit hacky, but we have to add the 'add x buttons' in separately
    add_developer = $('#id_developer').parent();
    var add_developer_text = '<div class="col-md-4" style="padding-top: 7px">Developer not in the list? <a data-toggle="modal" data-target="#developerModal" class="" href="#" role="button">Add a developer</a></div>';
    add_developer.parent().append(add_developer_text);

    // Ajax the form
    var options = {
        dataType: 'json',
        success: function(data) {
            // Change the header
            $('h4#myModalLabel').html('Data successfully uploaded');
            $('#id_developer').append($('<option>', {
                value: data.pk,
                text: data.name,
                selected: "selected"
            }));
            $('#developerModal').modal('hide');
        }
    }
    $('#developerForm').ajaxForm(options);
  })
</script>
{% endblock %}
