{% extends "core/_base.html" %}
{% load bootstrap3 %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Projects</li>
</ol>
{% endblock breadcrumb %}

{% block header-text %}
Projects{% endblock header-text %}

{% block content %}
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="{% url 'projects_list' %}">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List</a>
  </li>
  <li role="presentation">
    <a href="{% url 'projects_map' %}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Map</a>
  </li>
</ul>

<form role="form" class="form-inline" action="" method="get">
  <strong>Search by: </strong>
  {% for field in filter.form %}
    {% bootstrap_label field.label %}   {% bootstrap_field field layout='inline'  %}
  {% endfor %}
  {% buttons %}
      <button type="submit" class="btn btn-success">
          {% bootstrap_icon "search" %} Search
      </button>
  {% endbuttons %}
</form>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Developer</th>
      <th>Energy</th>
      <th>Last activity</th>
      <th>Project operational</th>
    </tr>
  </thead>
  <tbody>
{% for project in projects %}
    <tr>
        <td><a href="{% url 'project_detail' pk=project.id %}">{{ project }}</a></td>
        <td>{{ project.developer }}</td>
        <td>{{ project.get_energy_type_display }}</td>
        <td>{{ project.operational_date }}</td>
        <td>{{ project.developer }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% bootstrap_pagination projects %}
{% endblock %}

{% block js %}
<script language="javascript">
  $(document).ready(function() {
  })
</script>
{% endblock %}
