{% extends "core/_base.html" %}
{% load leaflet_tags %}
{% load bootstrap3 %}

{% block css %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock css %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li class="active">Map</li>
</ol>
{% endblock breadcrumb %}

{% block header-text %}Projects <a href="{% url 'projects_list' %}" type="button" class="btn btn-info">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add project</a>{% endblock header-text %}

{% block content %}
<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'projects_list' %}">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List</a>
  </li>
  <li role="presentation" class="active">
    <a href="{% url 'projects_map' %}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Map</a>
  </li>
</ul>

<form role="form" class="form-inline" action="" method="get">
  <strong>Search by: </strong>
  {% for field in filter.form %}
    {% bootstrap_label field.label %}   {% bootstrap_field field layout='inline'  %}
  {% endfor %}
  {% buttons %}
      <button type="submit" class="btn btn-success">
          {% bootstrap_icon "search" %} Search
      </button>
  {% endbuttons %}
</form>
<hr>

<div id="projectsMap">{% leaflet_map "main" callback="main_map_init" %}</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
function onEachFeature(feature, layer) {
  console.log(feature);
  if (feature.properties) {
    var popupContent = '<h4>' + feature.properties.name + ' <small>' + feature.properties.developer.name + '</small></h4>';
    popupContent += '<a href="/project/' + feature.properties.name + '" class="btn btn-default">View project</a>';
    layer.bindPopup(popupContent);
  }
}

function main_map_init(map, options) {
    // See http://blog.mathieu-leplatre.info/geodjango-maps-with-leaflet.html
    var group = new L.geoJson({% autoescape off %}{{ geojson }}{% endautoescape %});
    L.geoJson({% autoescape off %}{{ geojson }}{% endautoescape %}, {onEachFeature: onEachFeature}).addTo(map);
    map.fitBounds(group.getBounds().pad(0.5));
}
</script>
{% endblock js %}