header { margin: 10px 0; }
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

footer {
    text-align: center;
    border-top: 1px solid #ddd;
    margin: 20px 0;
    padding: 20px 0;
}

.important {
    font-weight: bold;
    color: red;
}
#id_location_map { max-width: 500px;}

/* Bootstrap override .navbar-nav>li>a { line-height: 70px; }
.navbar { min-height:80px !important; font-size: large; }
.navbar-brand { padding: 10px 10px; }
.navbar-nav > li > a { margin-top: 20px !important }
*/
.pull-right {
    float: right;
}
.align-right {
    text-align: right;
}
.form-sign-in {
    margin-top: 40px;
}
#projectsMap .leaflet-container-default {min-height: 500px;}

.nav-tabs, h3, h2, .nav-pills {
    margin-bottom: 20px;
}
h3 {
    line-height: 1.3em;
}
.table-wrapper table {
    margin-bottom: 0;
}
.leaflet-container {
    margin-bottom: 20px;
}
#topLogo {
    display: block;
    margin: 10px auto;
}
dd, dt {
    line-height: 2.8em;
}

/* Form stuff */
#upload-form-wrapper h2 {
    font-size: 22px;
}
#upload-form-wrapper .step-instructions ul, #upload-form-wrapper .step-instructions p {
/*    width: 700px;*/
    margin: 10px auto;
}
#upload-form-wrapper .step-instructions ul li:hover {
    background-color: #fffce5;
}
#upload-form-wrapper .step-instructions ul li {
    text-align: left;
    padding: 15px 0 15px 0;
    border-bottom: 1px dashed rgba(51, 51, 51, 0.25);
}
#upload-form-wrapper .step-instructions ul li:last-child {
    border-bottom: 0;
}
#upload-form-wrapper .step:hover {
    background-color: #FFF5AA;
}
#upload-form-wrapper .step {
    padding: 15px 10% 15px 10%;
    margin: 0 10% 10px 10%;
    text-align: center;
    background-color: #FFFBCC;
}
#upload-form-wrapper span.help-block {
    text-align: left;
}
#upload-form-wrapper label {
    /*text-align: right;*/
}
#upload-form-wrapper .step-number {
    border: 1px solid rgb(255, 232, 204);
    border-radius: 60px;
    padding: 5px 15px;
    font-weight:  bold;
    font-size: 30px;
    color: rgba(128, 128, 128, 0.38);
    background-color: white;
}
#upload-form-wrapper #id_location_map {
    margin: 0 auto;
    max-width: 700px;
}
.data-upload-form #id_location_map {
}
/* Intro JS number breaks if it doesn't have a normal line height */
.introjs-helperNumberLayer {
    line-height: 1em !important;
    font-size: 10px !important;
}

.hot-example-wrapper,
#hot-wrapper {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    -moz-box-align:center;
    -moz-box-pack:center;
    display:-moz-box;
    margin-left: -10%; /* Must correspond to .step margin */
}
#hot-wrapper {
    margin-bottom: 15px;
}
#hot {
    display: block;
    text-align: left;
    max-height: 500px;
}

/* Throbber */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.modal .message-success,
.modal .message-failure,
#modalMessageServerFailure,
#modalMessageSuccess {
    display: none;
}

/* HOT examples */
.hot-example {
    /*background-color: #fffce0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;*/
    margin-bottom: 0px !important;
}
.hot-example td:hover {
    background-color: #fffbd1;
}
.hot-example td {
    /*border-left: 1px solid #ddd;*/
    background-color: #fffce0;
    vertical-align: bottom !important;
    font-size: 12px;
}
#showExamples {
    margin: 0 0 15px 0;
}

#survey_area {
    min-height: 200px;
}