header { margin: 10px 0; }
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.alert ol li {
    padding-top: 0.85em;
}

.steps>div>div:hover, .steps a#step-wrapper:hover {
    background-color: #fff084;
    transform: rotate(0deg);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.4);
}
.fadein, #formRemainder {
    display: none;
}
a#step-wrapper {
    display: block;
    color: inherit;
}
.steps>div>div, .steps #step-wrapper {
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    border: 1px solid #cec273;
    height: 220px;
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.2);
}
.steps hr {
    border-color: #333
}
.steps h4 { font-weight: bold; }
.steps #step-wrapper {
    background: #fff8c9 url('/static/core/img/forms/step1.png') center 130px no-repeat;
    background-size: contain;
    transform: rotate(-5deg);
}
.steps .step-2 div {
    background: #fff2a3 url('/static/core/img/forms/enable-editing.png') center 120px no-repeat;
    background-size: contain;
    transform: rotate(-5deg);
}
.steps .step-3 div {
    background: #fff189 url('/static/core/img/forms/step3.png') center 120px no-repeat;
    background-size: contain;
    transform: rotate(-5deg);
}
form#upload-form h3 {
    text-align: center;
    margin-bottom: 20px;
}
form#upload-form {
    max-width: 500px;
    margin: 0 auto;
}
form#upload-form .form-container {
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    padding: 20px;
}

footer {
    text-align: center;
    border-top: 1px solid #ddd;
    margin: 20px 0;
    padding: 20px 0;
}

.important {
    font-weight: bold;
    color: red;
}
#id_location_map { max-width: 500px;}

/* Bootstrap override .navbar-nav>li>a { line-height: 70px; }
.navbar { min-height:80px !important; font-size: large; }
.navbar-brand { padding: 10px 10px; }
.navbar-nav > li > a { margin-top: 20px !important }
*/
.pull-right {
    float: right;
}
.align-right {
    text-align: right;
}
.form-sign-in {
    margin-top: 40px;
}
#projectsMap .leaflet-container-default {min-height: 500px;}

.nav-tabs, h3, h2, .nav-pills {
    margin-bottom: 20px;
}
h3 {
    line-height: 1.3em;
}
.table-wrapper table {
    margin-bottom: 0;
}
.leaflet-container {
    margin-bottom: 20px;
}
#topLogo {
    display: block;
    margin: 10px auto;
}
dd, dt {
    line-height: 2.8em;
}